<div class="container">

    <br/>
    
    <a href="#" class="badge badge-dark" (click)="goBack();">Go Back</a>

    <br/>
    <br/>

    <h2>Add Products</h2>

    <br/>

    <form #Form="ngForm" (ngSubmit)="addProducts(Products)">
        <!-- <div class="form-group">
            <label for="id">Products Id</label>
            <input type="number" class="form-control" id="id" placeholder="Enter Products Id" name="id" [(ngModel)]="Products.id">
          </div> -->
          <div class="form-group">
            <label for="category">Products Category</label>
            <input type="text" class="form-control" id="category" placeholder="Enter Products Category" name="category" [(ngModel)]="Products.category">
          </div>
          <div class="form-group">
              <label for="name">Products Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Products Name" name="name" [(ngModel)]="Products.name">
            </div>
            <div class="form-group">
              <label for="price">Products Price</label>
              <input type="text" class="form-control" id="price" placeholder="Enter Products Price" name="price" [(ngModel)]="Products.price">
            </div>


        <button type="submit" class="btn btn-dark">Add Products</button>
    </form>

</div>
