.custom-navbar {
    background-color: #0d2a3e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #ffce00;
}

.nav-item.active .nav-link {
    color: #ffce00;
}